@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;0,500;0,600;0,700;1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, 
li{
    list-style: none;
}

a{
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

body{
    min-height: 100vh;
    font-size: 14px;
    font-family: 'Mulish', 'Malgun Gothic', sans-serif;
    color: #6F7787;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #eee;
    line-height: 1.3rem;
}

main{
    width: 100%;
    color: #282E38;
}

.content-color{
    color: #282E38;
}

textarea{
    width: 100%;
    min-height: 96px;
    padding: 0.5rem;
    resize: none;
    border: 1px solid lightgray;
    border-radius: 0.2rem;
    outline: none;
    transition: border 0.3s ease-in-out;
}

textarea:focus{
    border: 1px solid #85AFFF;
}

.box-shadow{
    box-shadow: 0 0 8px rgb(17, 17, 17, 0.1);
}

.box-shadow:hover{
    box-shadow: 0 0 24px  rgb(17, 17, 17, 0.1);
}

.box-shadow-inset{
    box-shadow: 0 0 8px rgb(17, 17, 17, 0.1) inset;
}

main > h2,
.show-list > h2{
    font-size: 24px;
    margin: 2rem 0;
}

h1,
h2,
.title{
    color: #282E38;
}

.container{
    width: 100%;
}

.layout{
    max-width: 1280px;
    padding: 1rem;
    margin: 0 auto;
}

.button{
    padding: 0.5rem;
    border: none;
    color: white;
    background-color: #6495ED;
    border-radius: 0.2rem;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.comment-button{
    border: none;
    font-size: 12px;
    color: #6F7787;
    background-color: transparent;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.submit{
    appearance: none;
    outline: none;
    border: none;
    width: 100%;
    padding: 0.5rem;
    background: #6495ED;
    color: white;
    border-radius: 0.2rem;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.button:hover,
.submit:hover{
    background: #85AFFF;
}

code{
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


 /*
    //주 색
    #6495ED
    #85AFFF

    //회색 계열
    #282E38
    #4F5A6E
    #6F7787
    lightgray
    #222

    //강조 색
    #EBC063
    #EED9AB

    //기능성
    #F0412F
    #AEDB46
    F9897C
    F7887C !! alert 색
    rgba(240, 65, 47, 1)
*/
