.post-page{
    display: flex;
}

.post-page h1{
    font-size: 26px;
    margin: 0.5rem 0;
}

.post-page .title{
    position: relative;
    margin-bottom: 2.5rem;
    border-style: solid;
    border-image: linear-gradient(to left, 
    transparent 5%, #6F7787 95%, transparent 100%);
    border-image-slice: 1;
    border-image-width: 0 0 1px 0;
}

.post-page .title .info{
    position: absolute;
    top: 0.5rem;
    right: 0;
    margin-top: auto;
    font-size: 12px;
    text-align: right;
    color: #6F7787;
}

.post-page .title .info .date{
    margin: 0.5rem 0;
}

.post-page main{
    position: relative;
    min-height: 600px;
    padding: 1rem 1rem 4.5rem;
    margin-top: 2rem;
    border-radius: 0.2rem;
    box-shadow: 0 0 8px 0 rgba(17, 17, 17, 0.1);
    background-color: white;
}

.post-page main a{
    color: #4F5A6E;
    text-decoration: underline;
    font-weight: 600;
    transition: 0.3s ease-in-out;
}

.post-page main a:hover{
    color: #EBC063
}

.post-page main .content{
    font-size: 16px;
    line-height: 2.0;
}

.post-page main .function{
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 0;
    bottom: 1rem;
    width: 100%;
    padding: 0 1rem;
    margin-top: 1rem;
    font-size: 14px;
    color: white;
}

.post-page main .function a{
    color: inherit;
    text-decoration: none;
}

.post-page main .function .tag{
    width: 50%;
}

.post-page main .function .tag a{
    padding: 0.3rem;
    background: #eee;
    border-radius: 0.2rem;
    font-size: 13px;
    font-weight: 400;
    color: #282E38;
}

.post-page main .function .post.disable{
    display: none;
}

.post-page main .function .post .button{
    margin-left: 0.5rem;
    font-weight: 400;
}