.post-page{
    display: flex;
}

.post-page h1{
    font-size: 26px;
    margin: 0;
    margin-bottom: 1rem;
}

.post-page .title{
    position: relative;
    margin-bottom: 2rem;
}

.post-page .title .info{
    display: flex;
    color: #6F7787;
}

.post-page .title .info .date{
    margin: 0 0.5rem;
}

.post-page main{
    position: relative;
    min-height: 600px;
    padding: 1rem 1rem 4.5rem;
    margin-top: 3rem;
    border-radius: 0.2rem;
    box-shadow: 0 0 8px 0 rgba(17, 17, 17, 0.1);
    background-color: white;
}

.post-page main a{
    font-weight: 600;
    transition: 0.3s ease-in-out;
}

.post-page main a:hover{
    color: #EBC063
}

.post-page main .content{
    font-size: 16px;
    line-height: 1.8rem;
}

.post-page main .function{
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 0;
    bottom: 1rem;
    width: 100%;
    padding: 0 1rem;
    margin-top: 1rem;
    font-size: 14px;
}

.post-page main .function .tag{
    width: 50%;
}

.post-page main .function .tag a{
    padding: 0.3rem;
    background: #eee;
    border-radius: 0.2rem;
    font-size: 13px;
    font-weight: 400;
    color: #282E38;
}

.post-page main .function .post.disable{
    display: none;
}

.post-page main .function .post .button{
    margin-left: 0.5rem;
    font-weight: 400;
}

.post-page main .function a.button-only-text{
    font-weight: 500;
    margin: 0 0.2rem;
}