.footer{
    width: 100%;
    padding: 0.8rem;
    margin-top: 6rem;
    text-align: center;
    color: white;
    font-size: 12px;
    background-color: #6495ED;
    box-shadow: 0 0 8px 0 rgba(17,17,17,0.1);
}

.footer .inner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.footer .logo{
    font-family: 'Righteous', cursive;
    font-size: 24px;
}

.footer .link{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin-bottom: 0.5rem;
}

.footer .say p{
    margin-bottom: 0.5rem;
}

.footer .link li{
    padding: 0.5rem;
}

.footer.fixed{
    position: fixed;
    bottom: 0;
}

/*
radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
*/

/* .footer .insta-icon,
.footer .youtube-icon:hover,
.footer .github-icon{
    transition: 0.3s ease-in-out;
}

.footer .insta-icon:hover,
.footer .youtube-icon:hover,
.footer .github-icon:hover{
    color: #EBC063;
} */