.footer{
    width: 100%;
    padding: 0.8rem;
    margin: 0 auto;
    text-align: center;
    background-color: #6495ED;
    color: white;
    box-shadow: 0 0 8px 1px rgba(17, 17, 17, 0.2);
}

.footer.fixed{
    position: fixed;
    bottom: 0;
    z-index: 10;
}