.loading-page{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    min-height: 100vh;
    background-color: white;
    overflow: hidden;
    z-index: 100;
}

.loading-page .loading-svg{
    position: relative;
    width: 150px;
    height: 150px;
    animation: rotate 2s linear infinite;
}

@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.loading-page .loading-svg circle{
    width: 100%;
    height: 100%;
    fill: none;
    stroke-width: 10;
    stroke: #6495ED;
    stroke-linecap: round;
    transform: translate(5px, 5px);
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
    animation: animate 4s linear infinite;
}

@keyframes animate {
    0%, 100%{
        stroke-dashoffset: 440;
    }
    50%{
        stroke-dashoffset: 0;
    }
    51%{
        stroke-dashoffset: 880;
    }
}